.app.light {
  --bg-color: #e8e8ea;
  --inversed-bg-color: #00003b;

  --primary-color: #0232c2;
  --secondary-color: #0449e0;
  --inversed-primary-color: #047304;
  --inversed-secondary-color: #00c000;
}
